body {
background: rgb(240, 240, 234);
font-family: Verdana; 
max-width: 900px;
margin: auto;
}

.photo {
border: 1px solid rgb(58, 56, 55);
border-radius: 50%;
}

#title, .subtitle, .post_title {
    color:rgb(58, 56, 55);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: rgb(58, 56, 55);
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    }

    .post {
        background-color: rgb(238, 237, 234);
        padding: 15px;
        border: solid black;
        margin-bottom: 15px;
        border-radius: 10px; 
        }

        .post_content {
            margin: 0;
            margin-bottom: 10px;
            text-transform: capitalize;
            text-align: justify;
        }

        .post_image {
            margin-bottom: 15px;
            width: 100%;
        }

        .contact_list {
            list-style-type: none;
            padding-left: 15px;
        }


        .contact_list li a {
            text-decoration: none;
        }